{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
   <div class="col-lg-11 col-lg-offset-1 padding-none">
      <h1>Catalog App</h1>
   </div>
</div>
<div class = 'flash'>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
</div>
<div class="jumbotron">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <h2>Categories</h2>
            <hr class="style">
            {% for category in categories %}
            <a href = "{{url_for('showItems', category_name = category.name)}}">
               <h3>{{category.name}}</h3>
            </a>
            {% endfor %}
            <hr class="style">
            <div class="inline">
            <a href="{{url_for('editCategory' , category_name = category.name)}}">
              <h3>Edit Category</h3></a> <h3> . <h3>
            <a href="{{url_for('deleteCategory' , category_name = category.name)}}">
              <h3>Delete Category</h3>
            </a></div>
               </div>
         <div class="col-lg-6">
            <h2>{{category.name}} Items</h2>
            <hr class="style">
            {% for item in items %}
            <a href = "{{url_for('showDescription', category_name = item.category.name , item_name=item.name)}}">
               <h3>{{item.name}}</h3>
            </a>
            {% endfor %}
            <hr class="style">
            <a href="{{url_for('newItem')}}">
               <div>
                  <h3>Add item</h3>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}
