{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
   <div class="col-lg-11 col-lg-offset-1 padding-none">
      <h1>Catalog App</h1>
   </div>
</div>
<div class="jumbotron">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <h2>New Item</h2>
            <form action="#" method = "post">
               <div class="form-group">
                  <label for="name">Name:</label>
                  <input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the item">
                  <label for="description">Description:</label>
                  <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>
                  <label for="category">Category:</label>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category2" value="Soccer">Soccer
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category3" value="Snowboarding">Snowboarding
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category4" value="Skating">Skating
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category5" value="Rock Climbing">Rock Climbing
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category6" value="Hockey">Hockey
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category7" value="Hang gliding">Hang gliding
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category8" value="Frisbee">Frisbee
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category9" value="Foosball">Foosball
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category10" value="Basketball">Basketball
                     </label>
                  </div>
                  <div class="radio">
                     <label>
                     <input type="radio" name="category" id="category11" value="Baseball">Baseball
                     </label>
                  </div>
                  <button type="submit" class="btn btn-default" id="submit" type="submit">Create</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
