{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
   <div class="col-lg-11 col-lg-offset-1 padding-none">
      <h1>Catalog App</h1>
   </div>
</div>
<div class="jumbotron">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <h2>New Item</h2>
            <form action="#" method = "post">
               <div class="form-group">
                  <label for="name">Name:</label>
                  <input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the item" required>
                  <label for="description">Description:</label>
                  <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item" required></textarea>
                  <label for="category">Category:</label>
                  {% for category in categories %}
                  <div class="radio">
                     <label for="categories">
                     <input type="radio" name="category" value="{{category.name}}" required>{{category.name}}
                     </label>
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-default" id="submit" type="submit">Create</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
